.btn{

    background: transparent;
    border: none;
    border-radius: 3px;
    outline: none;
    color: white;
    margin: 10px;
padding: 10px;

}


.success{
    background: green;

}

.danger{
    background: red;
}